doctype html
html
  head
    style.
      table, th, td {
      border: 1px solid black;
      }
  body
    h3(style='text-align:center') Student Data
    table(style='width:100%')
      tr
        th Firstname
        th Lastname
      each user in data
        tr
         td #{user.name1}
         td #{user.email}

h3(style='text-align:center')
      | Create Student Data
      form(action='/create', method='POST', style='text-align: center;')
        .form-group
          label(for='fname') First Name
          input.form-contrl(type='text', placeholder='name', name='name')
        .form-group
          label(for='fname') Last Name
          input.form-contrl(type='text', placeholder='name', name='email')
        button(type='Submit') Submit


h3(style='text-align:center')
      | Update Student Data
      form(action='/update', method='POST', style='text-align: center;')
        .form-group
          label(for='fname') First Name
          input.form-contrl(type='text', placeholder='name', name='name')
        .form-group
          label(for='fname') Last Name
          input.form-contrl(type='text', placeholder='name', name='email')
        button(type='Submit') Submit


h3(style='text-align:center')
      | Delete Student Data
      form(action='/del', method='POST', style='text-align: center;')
        .form-group
          label(for='fname') First Name
          input.form-contrl(type='text', placeholder='name', name='name')
        .form-group
          label(for='fname') Last Name
          input.form-contrl(type='text', placeholder='name', name='email')
        button(type='Submit') Submit
